<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AjouterCours</servlet-name>
        <servlet-class>controller.AjouterCours</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterEtudiant</servlet-name>
        <servlet-class>controller.AjouterEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterEnseignant</servlet-name>
        <servlet-class>controller.AjouterEnseignant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadCours</servlet-name>
        <servlet-class>controller.DownloadCours</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadTp</servlet-name>
        <servlet-class>controller.DownloadTp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoyerMessage</servlet-name>
        <servlet-class>controller.EnvoyerMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>controller.LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerCours</servlet-name>
        <servlet-class>controller.SupprimerCours</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmationDemandeEtudiant</servlet-name>
        <servlet-class>controller.ConfirmationDemandeEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmationDemandeEnseignant</servlet-name>
        <servlet-class>controller.ConfirmationDemandeEnseignant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvoyerMessageAdmin</servlet-name>
        <servlet-class>controller.EnvoyerMessageAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerEnseignant</servlet-name>
        <servlet-class>controller.SupprimerEnseignant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerEtudiant</servlet-name>
        <servlet-class>controller.SupprimerEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerMessage</servlet-name>
        <servlet-class>controller.SupprimerMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailleMsg</servlet-name>
        <servlet-class>controller.DetailleMsg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerTp</servlet-name>
        <servlet-class>controller.SupprimerTp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerTd</servlet-name>
        <servlet-class>controller.SupprimerTd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modifier</servlet-name>
        <servlet-class>controller.Modifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierEtudiant</servlet-name>
        <servlet-class>controller.ModifierEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierEnseignant</servlet-name>
        <servlet-class>controller.ModifierEnseignant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjouterCours</servlet-name>
        <url-pattern>/AjouterCours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterEtudiant</servlet-name>
        <url-pattern>/AjouterEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterEnseignant</servlet-name>
        <url-pattern>/AjouterEnseignant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadCours</servlet-name>
        <url-pattern>/DownloadCours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadTp</servlet-name>
        <url-pattern>/DownloadTp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoyerMessage</servlet-name>
        <url-pattern>/EnvoyerMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerCours</servlet-name>
        <url-pattern>/SupprimerCours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmationDemandeEtudiant</servlet-name>
        <url-pattern>/ConfirmationDemandeEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmationDemandeEnseignant</servlet-name>
        <url-pattern>/ConfirmationDemandeEnseignant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvoyerMessageAdmin</servlet-name>
        <url-pattern>/EnvoyerMessageAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerEnseignant</servlet-name>
        <url-pattern>/SupprimerEnseignant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerEtudiant</servlet-name>
        <url-pattern>/SupprimerEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerMessage</servlet-name>
        <url-pattern>/SupprimerMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailleMsg</servlet-name>
        <url-pattern>/DetailleMsg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerTp</servlet-name>
        <url-pattern>/SupprimerTp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerTd</servlet-name>
        <url-pattern>/SupprimerTd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modifier</servlet-name>
        <url-pattern>/Modifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierEtudiant</servlet-name>
        <url-pattern>/ModifierEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierEnseignant</servlet-name>
        <url-pattern>/ModifierEnseignant</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Authentification.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <description>Path document cours</description>
        <param-name>file-upload</param-name>
        <param-value>
            C:\Users\Wael\Documents\NetBeansProjects\LearningIsimg\web\Cours\
        </param-value>
    </context-param>
    <context-param>
        <description>Path images users</description>
        <param-name>file-upload-user</param-name>
        <param-value>
            C:\Users\Wael\Documents\NetBeansProjects\LearningIsimg\web\Users\
        </param-value>
    </context-param>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorPage/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/ErrorPage/500.html</location>
    </error-page>
</web-app>
