<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AjouterEnseignant</servlet-name>
        <servlet-class>Controller.AjouterEnseignant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>Controller.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterClasse</servlet-name>
        <servlet-class>Controller.AjouterClasse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterModule</servlet-name>
        <servlet-class>Controller.AjouterModule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierEtudiant</servlet-name>
        <servlet-class>Controller.ModifierEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterMatiere</servlet-name>
        <servlet-class>Controller.AjouterMatiere</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterEtudiant</servlet-name>
        <servlet-class>Controller.AjouterEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterSemestre</servlet-name>
        <servlet-class>Controller.AjouterSemestre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goP2</servlet-name>
        <servlet-class>Controller.goP2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeEtudiant</servlet-name>
        <servlet-class>Controller.ListeEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeEtudiant1</servlet-name>
        <servlet-class>Controller.ListeEtudiant1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenereElimine</servlet-name>
        <servlet-class>Controller.GenereElimine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mailsend</servlet-name>
        <servlet-class>Controller.Mailsend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPDF</servlet-name>
        <servlet-class>Controller.ServletPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDF</servlet-name>
        <servlet-class>Controller.PDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connecter</servlet-name>
        <servlet-class>Controller.Connecter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modifetudiant</servlet-name>
        <servlet-class>Controller.Modifetudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierEnseignant</servlet-name>
        <servlet-class>Controller.ModifierEnseignant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>absenceEnseignant</servlet-name>
        <servlet-class>Controller.absenceEnseignant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuppElement</servlet-name>
        <servlet-class>Controller.SuppElement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suppelimine</servlet-name>
        <servlet-class>Controller.suppelimine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Modifiermatiere</servlet-name>
        <servlet-class>Controller.Modifiermatiere</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Suppmod</servlet-name>
        <servlet-class>Controller.Modifiermodule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modmodule</servlet-name>
        <servlet-class>Controller.modmodule</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connecter</servlet-name>
        <url-pattern>/Connecter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterEnseignant</servlet-name>
        <url-pattern>/AjouterEnseignant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierEtudiant</servlet-name>
        <url-pattern>/ModifierEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterClasse</servlet-name>
        <url-pattern>/AjouterClasse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterModule</servlet-name>
        <url-pattern>/AjouterModule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterMatiere</servlet-name>
        <url-pattern>/AjouterMatiere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterEtudiant</servlet-name>
        <url-pattern>/AjouterEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterSemestre</servlet-name>
        <url-pattern>/AjouterSemestre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goP2</servlet-name>
        <url-pattern>/goP2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeEtudiant</servlet-name>
        <url-pattern>/ListeEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeEtudiant1</servlet-name>
        <url-pattern>/ListeEtudiant1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenereElimine</servlet-name>
        <url-pattern>/GenereElimine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mailsend</servlet-name>
        <url-pattern>/Mailsend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPDF</servlet-name>
        <url-pattern>/ServletPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDF</servlet-name>
        <url-pattern>/PDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modifetudiant</servlet-name>
        <url-pattern>/Modifetudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierEnseignant</servlet-name>
        <url-pattern>/ModifierEnseignant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>absenceEnseignant</servlet-name>
        <url-pattern>/absenceEnseignant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuppElement</servlet-name>
        <url-pattern>/SuppElement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suppelimine</servlet-name>
        <url-pattern>/suppelimine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Modifiermatiere</servlet-name>
        <url-pattern>/Modifiermatiere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Suppmod</servlet-name>
        <url-pattern>/Suppmod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modmodule</servlet-name>
        <url-pattern>/modmodule</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
